*{
    padding: 0;
    margin: 0;
}

.wrapper{
display:flex;
    flex-direction:column;
    min-height:100vh;
}

.header{
    background-color: #4d2b11;
    height: 7vh;
    margin: 0 auto;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
}

.logo {
    width: 10%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.body{
    flex:1;
    height: 30vh;
}


.footer{
    background-color: #4d2b11;
    height: 10vh;
    /* border-top-left-radius: 100%;
    border-top-right-radius: 100%; */
}


.names {
    width: 30%;
    height: 100%;
    /* padding-top: 10px ; */
    display: block;
    margin: 0 auto;
}
